body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form__sign-in {
  display: flex;
  align-items: center;
  height: 60vh;
}

.form__sign-in .font-small {
  font-size: 0.8rem; }

.card .card__body input {
  display: block;
  text-align: center;
  margin: 0 auto;
}

.password, .email, .name {
  position: relative;
  padding: 5px 0;
}

.password label, .email label, .name label {
  position: absolute;
  top: 7px;
  left: 50%;
  transform: translateX(-50%);
  color: #999999;
}
